@media (max-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $padding-md;
        width: 100%;
        height: auto;
        background-color: $background-color;
        border-radius: $radius-md;
    
        img {
            width: 240px;
            height: auto;
        }
    }
    .home-page { margin: 0; }
  }
